.brands {
  text-align: center;

  @include breakpoint('m') {
    [class^="sprite"] {
      transform: scale(1.4);
    }
  }

  a {
    @include breakpoint('m') {
      padding-right: 1rem;
    }

    span {
      display: inline-block;
      padding: .5rem;
    }
  }
}
