.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1rem;

	a {
		color: $color-light-gray;
		text-decoration: none;

			&:hover {
				opacity: 0.5;
			}
	}

	.card {
		border: thin solid darken($color-dark-gray, 10%);
		border-radius: .5rem;
		box-shadow: 2px 2px 2px 2px darken($color-dark-gray, 10%);
		cursor: pointer;
		flex-basis: 15em;
		flex-grow: 1;
		margin: 0 1em 1.5em 1em;
		position: relative;
		transition: all 0.2s ease-in-out;

		.card__header {
			padding: 1rem 0px 1rem .5rem;

			h4 {
				padding: 0;
				margin: 0;
			}

			time, span {
				font-size: .8rem;
				font-weight: lighter;
				padding: 0;
				margin: 0;
			}

      span.icon-calendar {
        &:before {
          padding-right: 0.5rem;
        }
      }
		}

		.card__content {
			padding: .5rem;
		}
	}
}
