.blog__pagination {
	padding: 2rem 0px 0px .5rem;

	a {
		padding: .5rem 1rem;
		border: thin solid $color-dark-gray;
		border-radius: .5rem;
		background: linear-gradient(to bottom, lighten($color-light-gray, 6%), lighten($color-light-gray, 12%));
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.6), inset 0 1px rgba(255, 255, 255, 0.4);
		color: $color-dark-gray;
		text-decoration: none;
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.72);

		&:hover {
      background: linear-gradient(to bottom, lighten($color-medium-blue, 6%), $color-medium-blue);
      color: $color-white;
		}
	}

	.pagination__current {
		  background: linear-gradient(to bottom, darken($color-medium-blue, 6%), darken($color-medium-blue, 12%));
		  color: $color-white;

		&:hover {
			cursor: default;
      color: $color-white;
		}
	}

	.pagination__previous:before {
		content: "« ";
		font-weight: normal;
	}

	.pagination__next:after {
		content: " »";
		font-weight: normal;
	}


	.pagination__next:hover, .pagination__previous:hover {
		border-color: $color-dark-gray;
		background: linear-gradient(to bottom, lighten($color-medium-blue, 6%), $color-medium-blue);
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.6), inset 0 1px rgba(255, 255, 255, 0.1);
		color: $color-white;
		text-shadow: none;
	}
}
