.blog__tags {
  padding: 1rem 0px;

    a {
        margin: 1rem;
        display: inline-block;
    }

    .blog__tag {
      display: inline-block;

      .text {
        background: white;
        position: relative;
        padding: 0.25em 0.75em 0.25em 0.5em;
        text-shadow: 0 1px 1px white;
        cursor: pointer;
        background: #ffffff;
        text-transform: uppercase;
        background: linear-gradient(to bottom, lighten($color-light-gray, 6%), lighten($color-light-gray, 12%));
        color: $color-dark-gray;
      }

      .count {
        color: white;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
        padding: 0.25em 0.75em 0.25em 0.5em;
        background: $color-medium-blue;
        border-radius: 0 3px 3px 0;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        margin: 0px 0px 0px -.5rem;
        text-align: center;
      }

      :hover {
        background: $color-medium-blue;
        color: $color-white;
      }
  }
}
