.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 100;
    display: none;
    text-decoration: none;
    opacity: 0.6;

    .icon-arrow-up {
      font-size: 1.4rem;
      color: $color-white;
    }
}
