{{ define "main" }}

  <section class="cover">
    <picture>
      <source srcset="/static/img/cover/fawkes.webp" type="image/webp">
      <source srcset="/static/img/cover/fawkes.jpg" type="image/jpeg">
      <img src="/static/img/cover/fawkes.jpg" alt="Cover">
    </picture>
  </section>

  <main class="grid">
    <article class="one padding">

      {{ .Content }}

    </article>

    <aside class="two">
      <p> {{ i18n "aboutbrands" }} </p>

      <div class="brands">
        <div class="gallery-brands">
          {{ range $.Page.Site.Data.brands_about }}
          <a href="{{ .href }}" title="{{ .title }}" target="_blank">
            <span class="{{ .class }}"></span>
          </a>
          {{ end }}
        </div>
      </div>
    </aside>
  </main>

{{ end }}
