{{ define "main" }}

  <section class="cover">
    <picture>
      <source srcset="/static/img/cover/fawkes.webp" type="image/webp">
      <source srcset="/static/img/cover/fawkes.jpg" type="image/jpeg">
      <img src="/static/img/cover/fawkes.jpg" alt="Cover">
    </picture>
  </section>

  <main class="two grid">
    <article class="one padding">

      {{ .Content }}

    </article>

    <aside class="three">
      <div class="brandsabout">
          {{ range $.Page.Site.Data.brands_about }}
          <a href="{{ .href }}" title="{{ .title }}" target="_blank">
            <span class="image {{ .class }}"></span>
          </a>
          {{ end }}
      </div>
    </aside>
  </main>

{{ end }}
