nav {
	text-align: center;
	padding: 1rem 0px;

	@include breakpoint('m') {
		text-align: right !important;
		width: 80% !important;
		padding: 3rem 0px !important;
	}

	.menu__active {
		color: lighten($color-light-gray, 10%);
		text-decoration: none;
	}

	a {
		color: $color-light-blue;
		padding-right: 1rem;

		&:last-child {
			padding-right: 0rem;
		}

		&:hover {
			color: lighten($color-light-blue, 10%);
		}

		@include breakpoint('m') {
			font-size: 2rem;
			padding-right: 1.5rem !important;
		}
	}
}
