.no-webp .brands-1blu
{
background:url('/static/img/content/brands.png') -0px -20px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-arch
{
background:url('/static/img/content/brands.png') -0px -70px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-citynet
{
background:url('/static/img/content/brands.png') -0px -120px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-debian
{
background:url('/static/img/content/brands.png') -0px -170px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-diem25
{
background:url('/static/img/content/brands.png') -0px -220px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-dovecot
{
background:url('/static/img/content/brands.png') -0px -270px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-fairtrade
{
background:url('/static/img/content/brands.png') -0px -320px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-gentoo
{
background:url('/static/img/content/brands.png') -0px -370px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-gulp
{
background:url('/static/img/content/brands.png') -0px -420px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-hetzner
{
background:url('/static/img/content/brands.png') -0px -470px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-hugo
{
background:url('/static/img/content/brands.png') -0px -520px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-kinderhilfe
{
background:url('/static/img/content/brands.png') -0px -570px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-msf
{
background:url('/static/img/content/brands.png') -0px -620px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-netcup
{
background:url('/static/img/content/brands.png') -0px -670px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-nginx
{
background:url('/static/img/content/brands.png') -0px -720px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-notonato
{
background:url('/static/img/content/brands.png') -0px -770px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-oneprovider
{
background:url('/static/img/content/brands.png') -0px -820px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-ovh
{
background:url('/static/img/content/brands.png') -0px -870px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-picum
{
background:url('/static/img/content/brands.png') -0px -920px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-postfix
{
background:url('/static/img/content/brands.png') -0px -970px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-proasyl
{
background:url('/static/img/content/brands.png') -0px -1020px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-raspi
{
background:url('/static/img/content/brands.png') -0px -1070px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-regru
{
background:url('/static/img/content/brands.png') -0px -1120px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-rspamd
{
background:url('/static/img/content/brands.png') -0px -1170px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-sea_shepherd
{
background:url('/static/img/content/brands.png') -0px -1220px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-stopp_ramstein
{
background:url('/static/img/content/brands.png') -70px -1270px;
width:30px;height:30px;
display:inline-block;
}

.no-webp .brands-strato
{
background:url('/static/img/content/brands.png') -0px -1320px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-sublime
{
background:url('/static/img/content/brands.png') -0px -1370px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-vultr
{
background:url('/static/img/content/brands.png') -0px -1420px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-waffenhandel
{
background:url('/static/img/content/brands.png') -0px -1470px;
width:100px;height:30px;
display:inline-block;
}

.no-webp .brands-yarn
{
background:url('/static/img/content/brands.png') -0px -1520px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-1blu
{
background:url('/static/img/content/brands.webp') -0px -20px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-arch
{
background:url('/static/img/content/brands.webp') -0px -70px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-citynet
{
background:url('/static/img/content/brands.webp') -0px -120px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-debian
{
background:url('/static/img/content/brands.webp') -0px -170px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-diem25
{
background:url('/static/img/content/brands.webp') -0px -220px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-dovecot
{
background:url('/static/img/content/brands.webp') -0px -270px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-fairtrade
{
background:url('/static/img/content/brands.webp') -0px -320px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-gentoo
{
background:url('/static/img/content/brands.webp') -0px -370px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-gulp
{
background:url('/static/img/content/brands.webp') -0px -420px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-hetzner
{
background:url('/static/img/content/brands.webp') -0px -470px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-hugo
{
background:url('/static/img/content/brands.webp') -0px -520px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-kinderhilfe
{
background:url('/static/img/content/brands.webp') -0px -570px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-msf
{
background:url('/static/img/content/brands.webp') -0px -620px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-netcup
{
background:url('/static/img/content/brands.webp') -0px -670px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-nginx
{
background:url('/static/img/content/brands.webp') -0px -720px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-notonato
{
background:url('/static/img/content/brands.webp') -0px -770px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-oneprovider
{
background:url('/static/img/content/brands.webp') -0px -820px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-ovh
{
background:url('/static/img/content/brands.webp') -0px -870px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-picum
{
background:url('/static/img/content/brands.webp') -0px -920px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-postfix
{
background:url('/static/img/content/brands.webp') -0px -970px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-proasyl
{
background:url('/static/img/content/brands.webp') -0px -1020px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-raspi
{
background:url('/static/img/content/brands.webp') -0px -1070px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-regru
{
background:url('/static/img/content/brands.webp') -0px -1120px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-rspamd
{
background:url('/static/img/content/brands.webp') -0px -1170px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-sea_shepherd
{
background:url('/static/img/content/brands.webp') -0px -1220px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-stopp_ramstein
{
background:url('/static/img/content/brands.webp') -70px -1270px;
width:30px;height:30px;
display:inline-block;
}

.webp .brands-strato
{
background:url('/static/img/content/brands.webp') -0px -1320px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-sublime
{
background:url('/static/img/content/brands.webp') -0px -1370px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-vultr
{
background:url('/static/img/content/brands.webp') -0px -1420px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-waffenhandel
{
background:url('/static/img/content/brands.webp') -0px -1470px;
width:100px;height:30px;
display:inline-block;
}

.webp .brands-yarn
{
background:url('/static/img/content/brands.webp') -0px -1520px;
width:100px;height:30px;
display:inline-block;
}
