// https://www.fontsquirrel.com/

@font-face {
    font-family: 'hackregular';
    src: local("Hack"), url("/static/fonts/Hack-Regular-webfont.eot");
    src: local("Hack"), url("/static/fonts/Hack-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         local("Hack"), url("/static/fonts/Hack-Regular-webfont.woff2") format("woff2"),
         local("Hack"), url("/static/fonts/Hack-Regular-webfont.woff") format("woff"),
         local("Hack"), url("/static/fonts/Hack-Regular-webfont.ttf") format("truetype"),
         local("Hack"), url("/static/fonts/Hack-Regular-webfont.svg#hackregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: local("Open Sans"), url("/static/fonts/OpenSans-Regular-webfont.eot");
    src: local("Open Sans"), url("/static/fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         local("Open Sans"), url("/static/fonts/OpenSans-Regular-webfont.woff") format("woff"),
         local("Open Sans"), url("/static/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
         local("Open Sans"), url("/static/fonts/OpenSans-Regular-webfont.ttf") format("truetype"),
         local("Open Sans"), url("/static/fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: local("Roboto"), url("/static/fonts/RobotoSlab-Bold-webfont.eot");
    src: local("Roboto"), url("/static/fonts/RobotoSlab-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         local("Roboto"), url("/static/fonts/RobotoSlab-Bold-webfont.woff") format("woff"),
         local("Roboto"), url('/static/fonts/RobotoSlab-Bold-webfont.woff2') format('woff2'),
         local("Roboto"), url("/static/fonts/RobotoSlab-Bold-webfont.ttf") format("truetype"),
         local("Roboto"), url("/static/fonts/RobotoSlab-Bold-webfont.svg#roboto_slabbold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'belligerent';
    src: url('/static/fonts/belligerent-webfont.eot');
    src: url('/static/fonts/belligerent-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/belligerent-webfont.woff2') format('woff2'),
         url('/static/fonts/belligerent-webfont.woff') format('woff'),
         url('/static/fonts/belligerent-webfont.ttf') format('truetype'),
         url('/static/fonts/belligerent-webfont.svg#belligerent_madnessregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* https://icomoon.io */
@font-face {
  font-family: 'icomoon';
  src:  url('/static/fonts/icomoon.eot?f2mznl');
  src:  url('/static/fonts/icomoon.eot?f2mznl#iefix') format('embedded-opentype'),
    url('/static/fonts/icomoon.ttf?f2mznl') format('truetype'),
    url('/static/fonts/icomoon.woff?f2mznl') format('woff'),
    url('/static/fonts/icomoon.svg?f2mznl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gitlab:before {
  content: "\e900";
  padding-right: 0.5rem;
}

.icon-folder-open:before {
  content: "\e930";
  padding-right: 0.5rem;
}

.icon-calendar:before {
  content: "\e953";
  padding-right: 0.5rem;
}

.icon-users:before {
  content: "\e972";
  padding-right: 0.5rem;
}

.icon-quotes-right:before {
  content: "\e978";
  padding-right: 0.5rem;
}

.icon-question:before {
  content: "\ea09";
  padding-right: 0.5rem;
}

.icon-arrow-up:before {
  content: "\ea32";
  padding-right: 0.5rem;
}

.icon-google-drive:before {
  content: "\ea8f";
  padding-right: 0.5rem;
}

.icon-facebook:before {
  content: "\ea90";
  padding-right: 0.5rem;
}

.icon-twitter:before {
  content: "\ea96";
  padding-right: 0.5rem;
}

.icon-youtube:before {
  content: "\ea9e";
  padding-right: 0.5rem;
}

.icon-vimeo:before {
  content: "\eaa0";
  padding-right: 0.5rem;
}

.icon-instagram:before {
  content: "\ea92";
  padding-right: 0.5rem;
}

.icon-vk:before {
  content: "\ea98";
  padding-right: 0.5rem;
}

.icon-tiktok:before {
  content: "\e901";
  padding-right: 0.5rem;
}

.icon-blogger:before {
  content: "\eab7";
  padding-right: 0.5rem;
}

.icon-speaker_notes_off:before {
  content: "\e902";
  padding-right: 0.5rem;
}

/* https://icomoon.io/#docs/font-face
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
*/
