*, *::before, *::after {
  box-sizing: inherit;
}

*, html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  color: $color-light-gray;
  background-color: $color-dark-gray;
  position: relative;
  line-height: 1.3rem;
}

img {
  box-sizing: content-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "roboto";
}

.nostyle {
  color: inherit;
  text-decoration: none;
}

strong, em, small, code, hr {
  line-height: 1;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

a {
  color: $color-light-blue;
  text-decoration: none;
  word-wrap: break-word;
}

sup, sub {
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.4em;
}

sub {
  bottom: -.25em;
}

blockquote {
  padding-left: .5rem;
  margin-left: 1rem;
  color: darken($color-light-gray, 15%);
  border-left: .2rem solid $color-light-gray;
  font-family: "hackregular";
  font-size: 0.8rem;
  position: relative;
}

code {
  font-family: monospace, "hackregular";
  white-space: nowrap;
}

pre code {
  white-space: pre-wrap;
}
