.linux-shell {
  text-align: center;

  span {
    display: block;
    margin: 1rem;
  }
}

.no-webp .bg-arch {
    width: 945px; height: 300px;
    background: url('/static/img/content/sf.png') -10px -10px;
}

.no-webp .bg-freebsd {
    width: 945px; height: 300px;
    background: url('/static/img/content/sf.png') -975px -10px;
}

.no-webp .bg-gentoo {
    width: 945px; height: 300px;
    background: url('/static/img/content/sf.png') -1940px -10px;
}

.no-webp .bg-pi {
    width: 945px; height: 300px;
    background: url('/static/img/content/sf.png') -2905px -10px;
}

.webp .bg-arch {
    width: 945px; height: 300px;
    background: url('/static/img/content/sf.webp') -10px -10px;
}

.webp .bg-freebsd {
    width: 945px; height: 300px;
    background: url('/static/img/content/sf.webp') -975px -10px;
}

.webp .bg-gentoo {
    width: 945px; height: 300px;
    background: url('/static/img/content/sf.webp') -1940px -10px;
}

.webp .bg-pi {
    width: 945px; height: 300px;
    background: url('/static/img/content/sf.webp') -2905px -10px;
}
