<section class="home-section social two hidden grid grid-middle grid-compact-stack padding no-margin">
  <div class="twitter grid-item 1/2 compact-1/1">
    <span>
      <img src="/static/img/twitter.svg" title="Follow me on Twitter" alt="Twitter Logo">

      <a href="https://twitter.com/silviosiefke" title="Follow me on Twitter">
        @silviosiefke
      </a>
    </span>

    <div class="tweetList">

    </div>
  </div>

  <div class="instagram-feed grid-item 1/2 compact-1/1">
      <section class="instagram">
        <span>
          <img src="/static/img/instagram.svg" class="instagram-logo" alt="Logo Instagram">

          <a href="https://www.instagram.com/silviosiefke/" title="Instagram">
            @silviosiefke
          </a>
        </span>
      </section>
      <div id="pixlee_container"></div>
      <script type="text/javascript">window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'uuHvse3rqfPNoaONnV6p'});Pixlee.addSimpleWidget({widgetId:'17945'});};</script><script src="//instafeed.assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script>

  </div>
</section>
